*,
*::before,
*::after {
  box-sizing: border-box;
  text-decoration: none;
  font-size: 16px;
  white-space: nowrap;
  letter-spacing: 0;
  line-height: normal;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}
.container .right {
  background-color: #000;
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.container .right .title {
  background-color: #4D606E;
  border: 1px solid #000;
  border-radius: 40px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .right .title p {
  font-family: "Hakgyoansim Kkwabaegir";
  text-align: center;
  font-size: 100px;
  color: #f5f5f5;
  -webkit-text-stroke: 1px #000;
}
.container .right .contents {
  background-color: #D3D4D8;
  border: 1px solid #000;
  border-radius: 40px;
  height: 375px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container .right .contents p {
  width: 90%;
  height: 80%;
  font-family: "Noto Sans KR";
  text-align: left;
  font-size: 16px;
  color: #393E46;
  line-height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: normal;
}
.container .right .search {
  background-color: #4D606E;
  border: 1px solid #000;
  border-radius: 40px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container .right .search p {
  font-family: "Noto Sans KR";
  text-align: left;
  font-size: 24px;
  color: #D3D4D8;
  margin: 15px 0;
}
.container .right .search .dropdown {
  width: 50%;
  border-radius: 50px;
  margin-bottom: 20px;
}
.container .right .leftBox {
  display: none;
}
.container .right .btn {
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.container .right .btn .totalRegion {
  border: 1px solid #000;
  border-radius: 40px;
  height: 100px;
  width: 50%;
  background-color: #D3D4D8;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.container .right .btn .favoriteRegion {
  border: 1px solid #000;
  border-radius: 40px;
  height: 100px;
  width: 50%;
  background-color: #D3D4D8;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.container .right .btn p {
  font-family: "Seolleim";
  font-size: 14px;
  color: #393E46;
  align-items: center;
}
.container .right .btn p:hover {
  color: #F5F5F5;
  -webkit-text-stroke: 1px #000;
}
.container .left {
  background-color: #000;
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container .left .leftBox {
  background-color: #F5F5F5;
  border: 1px solid #000;
  border-radius: 40px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.container .left .leftBox .favoriteBtn {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 3;
  cursor: pointer;
}
.container .left .leftBox .favoriteBtn img {
  width: 100%;
  height: 100%;
}
.container .left .leftBox .dustTitle {
  position: absolute;
  top: 95px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container .left .leftBox .dustTitle .fp {
  font-family: "Taebaek Milkyway";
  font-size: 28px;
  color: #393E46;
  align-items: center;
  margin-bottom: 10px;
  display: inline-block;
}
.container .left .leftBox .dustTitle .fp.sunny {
  color: #393E46;
}
.container .left .leftBox .dustTitle .fp.cloud {
  color: #a3cb3d;
}
.container .left .leftBox .dustTitle .fp.dust {
  color: #d4a326;
}
.container .left .leftBox .dustTitle .fp.mask {
  color: #bb4242;
}
.container .left .leftBox .dustTitle .lp {
  font-family: "Taebaek Milkyway";
  font-size: 16px;
  color: #393E46;
  align-items: center;
}
.container .left .leftBox .dustImg {
  width: 350px;
  height: 350px;
  position: absolute;
  top: 150px;
  background: radial-gradient(50% 50% at 50% 50%, rgba(77, 96, 110, 0.6) 0%, rgba(115, 115, 115, 0) 100%);
  border-radius: 360px;
}
.container .left .leftBox .dustImg img {
  width: 100%;
  height: 100%;
}
.container .left .leftBox .dustContents {
  height: 72px;
  width: auto;
  position: absolute;
  bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container .left .leftBox .dustContents p {
  font-family: "Taebaek Milkyway";
  font-size: 18px;
  color: #393E46;
  align-items: center;
  margin-bottom: 20px;
}
.container .left .leftBox .prevBtn {
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 25px;
  left: 25px;
  z-index: 3;
  cursor: pointer;
}
.container .left .leftBox .prevBtn img {
  width: 100%;
  height: 100%;
}
.container .left .leftBox .nextBtn {
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 25px;
  right: 25px;
  z-index: 3;
  cursor: pointer;
}
.container .left .leftBox .nextBtn img {
  width: 100%;
  height: 100%;
}

@media (max-width: 920px) {
  .container .right .title {
    border-radius: 30px;
  }
  .container .right .title p {
    font-size: 60px;
  }
  .container .right .contents p {
    font-size: 12px;
    line-height: 25px;
  }
  .container .right .search {
    border-radius: 30px;
  }
  .container .right .search p {
    font-size: 16px;
  }
  .container .right .search .dropdown {
    width: 60%;
  }
  .container .right .btn .totalRegion {
    border-radius: 30px;
  }
  .container .right .btn .favoriteRegion {
    border-radius: 30px;
  }
  .container .right .btn p {
    font-size: 16px;
  }
  .container .left .leftBox {
    border-radius: 30px;
  }
  .container .left .leftBox .favoriteBtn {
    width: 40px;
    height: 40px;
  }
  .container .left .leftBox .dustTitle {
    top: 130px;
  }
  .container .left .leftBox .dustTitle .fp {
    font-size: 24px;
  }
  .container .left .leftBox .dustTitle .lp {
    font-size: 16px;
  }
  .container .left .leftBox .dustImg {
    width: 250px;
    height: 250px;
    border-radius: 240px;
    top: 240px;
  }
  .container .left .leftBox .dustContents {
    height: 36px;
    bottom: 120px;
  }
  .container .left .leftBox .dustContents p {
    font-size: 14px;
  }
}
@media (max-width: 500px) {
  .container {
    flex-direction: column;
  }
  .container .right {
    width: 100vw;
  }
  .container .right .title {
    border-radius: 30px;
    height: 150px;
  }
  .container .right .title p {
    font-size: 68px;
  }
  .container .right .contents {
    display: none;
  }
  .container .right .contents p {
    display: none;
  }
  .container .right .search {
    border-radius: 30px;
    height: 89px;
    background-color: #D3D4D8;
  }
  .container .right .search p {
    font-size: 14px;
    font-weight: 700;
    color: #333333;
    margin: 10px 0 5px 0;
  }
  .container .right .search .dropdown {
    width: 60%;
    margin-bottom: 5px;
  }
  .container .right .leftBox {
    background-color: #F5F5F5;
    border: 1px solid #000;
    border-radius: 30px;
    height: 540px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
  }
  .container .right .leftBox .favoriteBtn {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
  }
  .container .right .leftBox .favoriteBtn img {
    width: 100%;
    height: 100%;
  }
  .container .right .leftBox .dustTitle {
    position: absolute;
    top: 55px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container .right .leftBox .dustTitle .fp {
    font-family: "Taebaek Milkyway";
    font-size: 20px;
    color: #393E46;
    align-items: center;
    margin-bottom: 10px;
    display: inline-block;
  }
  .container .right .leftBox .dustTitle .fp.sunny {
    color: #393E46;
  }
  .container .right .leftBox .dustTitle .fp.cloud {
    color: #a3cb3d;
  }
  .container .right .leftBox .dustTitle .fp.dust {
    color: #d4a326;
  }
  .container .right .leftBox .dustTitle .fp.mask {
    color: #bb4242;
  }
  .container .right .leftBox .dustTitle .lp {
    font-family: "Taebaek Milkyway";
    font-size: 12px;
    color: #393E46;
    align-items: center;
  }
  .container .right .dustImg {
    width: 170px;
    height: 170px;
    position: absolute;
    top: 120px;
    background: radial-gradient(50% 50% at 50% 50%, rgba(77, 96, 110, 0.6) 0%, rgba(115, 115, 115, 0) 100%);
    border-radius: 360px;
  }
  .container .right .dustImg img {
    width: 100%;
    height: 100%;
  }
  .container .right .dustContents {
    height: 72px;
    width: auto;
    position: absolute;
    bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container .right .dustContents p {
    font-family: "Taebaek Milkyway";
    font-size: 14px;
    color: #393E46;
    align-items: center;
    margin-bottom: 15px;
  }
  .container .right .prevBtn {
    width: 15px;
    height: 15px;
    position: absolute;
    bottom: 20px;
    left: 25px;
    z-index: 3;
    cursor: pointer;
  }
  .container .right .prevBtn img {
    width: 100%;
    height: 100%;
  }
  .container .right .nextBtn {
    width: 15px;
    height: 15px;
    position: absolute;
    bottom: 20px;
    right: 25px;
    z-index: 3;
    cursor: pointer;
  }
  .container .right .nextBtn img {
    width: 100%;
    height: 100%;
  }
  .container .btn {
    height: 65px;
  }
  .container .btn .totalRegion {
    border-radius: 30px;
    height: 65px;
    background-color: #4D606E;
  }
  .container .btn .favoriteRegion {
    border-radius: 30px;
    height: 65px;
    background-color: #4D606E;
  }
  .container .btn p {
    font-family: "Seolleim";
    font-size: 16px;
    color: #F5F5F5;
    align-items: center;
    -webkit-text-stroke: 0.5px #333;
  }
  .container .btn p:hover {
    color: #393E46;
  }
  .container .left {
    display: none;
  }
}
@media (max-width: 310px) {
  .container {
    flex-direction: column;
  }
  .container .right .title {
    border-radius: 20px;
  }
  .container .right .title p {
    font-size: 52px;
  }
  .container .right .search {
    border-radius: 20px;
  }
  .container .right .search p {
    font-size: 14px;
  }
  .container .right .search .dropdown {
    width: 65%;
  }
  .container .right .leftBox {
    border-radius: 20px;
  }
  .container .right .leftBox .favoriteBtn {
    width: 40px;
    height: 40px;
  }
  .container .right .leftBox .dustTitle {
    top: 60px;
  }
  .container .right .leftBox .dustTitle .fp {
    font-size: 18px;
  }
  .container .right .leftBox .dustTitle .lp {
    font-size: 10px;
  }
  .container .right .leftBox .dustImg {
    width: 130px;
    height: 130px;
  }
  .container .right .leftBox .dustImg img {
    width: 100%;
    height: 100%;
  }
  .container .right .leftBox .dustContents {
    height: 36px;
    bottom: 80px;
  }
  .container .right .leftBox .dustContents p {
    font-size: 10px;
  }
  .container .right .btn .totalRegion {
    border-radius: 20px;
  }
  .container .right .btn .favoriteRegion {
    border-radius: 20px;
  }
  .container .right .btn p {
    font-size: 14px;
  }
}/*# sourceMappingURL=App.css.map */